<div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text color--dark-gray">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="mdl-card__title-text text-color--smooth-gray">INFOVID</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="blank-layout-card-name text-color--white">¿Olvidaste tu contraseña?</span>
        <span class="blank-layout-card-secondary-text text-color--smoke">Ingrese su correo electrónico a continuación para recibir su contraseña</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
          <input class="mdl-textfield__input" [(ngModel)]="email" type="email" id="e-mail" (ngModelChange)="verificarEnviar($event)">
          <label class="mdl-textfield__label" for="e-mail">Email</label>
          <div *ngIf="emailInvalido">
              <span *ngIf="emailInvalido" class="mdl-textfield__error">
                Correo es requerido. <span class="color-text--orange"> Porfavor ingrese un correo electrónico válido</span>
              </span>
          </div>
        </div>
      </div>
      <div class="full-size color-text--red" *ngIf="error"> {{ error }}</div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
        <a routerLink="/pages/login" class="blank-layout-card-link">Volver al login</a>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-button--raised color--light-blue" (click)="recuperarClave()" [disabled]="!enviar">
          ENVIAR CONTRASEÑA
        </button>
      </div>
    </div>
  </div>
</div>
