<base-card>
  <base-card-title>
    <h2>Mi Perfil</h2>
    <div class="mdl-card__subtitle">Editar información</div>
  </base-card-title>
  <base-card-body>
    <div class="form__article">
      <h3>Información Personal</h3>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="firstName" [(ngModel)]="nombres" value="{{nombres}}"/>
          <label class="mdl-textfield__label" for="firstName">Nombre completo</label>
        </div>

        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="username" [(ngModel)]="username"/>
          <label class="mdl-textfield__label" for="username">Nombre de usuario</label>
        </div>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="celular" [(ngModel)]="celular"/>
          <label class="mdl-textfield__label" for="celular">Celular</label>
        </div>
      </div>
    </div>

    <div class="form__article employer-form__contacts">
      <h3>Credenciales de acceso</h3>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--9-col input-group">
          <i class="material-icons pull-left">mail_outline</i>

          <div class="mdl-textfield mdl-js-textfield pull-left">
            <input class="mdl-textfield__input" type="text" id="email" [(ngModel)]="correo" readonly/>
          </div>
        </div>
      </div>
    </div>

    <div class="form__article employer-form__contacts">
      <h3>Cambiar contraseña</h3>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--9-col input-group">
          <div class="mdl-textfield mdl-js-textfield pull-left">
            <input class="mdl-textfield__input" type="password" id="claveActual" [(ngModel)]="claveActual" (ngModelChange)="verificarCampos()"/>
            <label class="mdl-textfield__label" for="claveActual">Contraseña Actual</label>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--9-col input-group">
          <div class="mdl-textfield mdl-js-textfield pull-left">
            <input class="mdl-textfield__input" type="password" id="nuevaClave" [(ngModel)]="nuevaClave" (ngModelChange)="verificarCampos()"/>
            <label class="mdl-textfield__label" for="nuevaClave">Nueva Contraseña</label>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--9-col input-group">
          <div class="mdl-textfield mdl-js-textfield pull-left">
            <input class="mdl-textfield__input" type="password" id="confirmarClave" [(ngModel)]="confirmarClave" (ngModelChange)="verificarCampos()"/>
            <label class="mdl-textfield__label" for="confirmarClave">Confirmar contraseña</label>
          </div>
        </div>
      </div>
    </div>

      <div class="form__action">
        <label>
          <span class="mdl-checkbox__label"></span>
        </label>
        <button id="submit_button"
                class="mdl-button mdl-js-button mdl-button--raised" style="width: 93px" (click)="actualizar()" [disabled]="deshabilitarActualizar">
          Guardar
        </button>
      </div>
  </base-card-body>
</base-card>
